body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: auto;
  padding: 0px 250px 0px 250px;
}

#section{
  text-align: center;
  color: purple;
}

#program {
  font-size: 22px;
  font-weight: bold;
}

.container-fluid {
  padding: 20px 0px 20px 0px;
}
